In [3]:
import pandas as pd

# concat 메서드 사용하기

In [6]:
s1 = pd.read_csv('./praticeData/concat_1.csv')
s2 = pd.read_csv('./praticeData/concat_2.csv')

pd.concat([s1, s2])

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

# 데이터프레임에 시리즈 연결하기

In [15]:
df = pd.DataFrame(s1)
new_series = pd.Series(['n1', 'n2', 'n3', 'n4'])
pd.concat([df, new_series])

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

# 행 1개로 구성된 데이터프레임 생성하여 연결하기

In [18]:
new_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']], columns=['A', 'B', 'C', 'D'])
pd.concat([df, new_df])

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

# 다양한 방법으로 데이터 연결하기

# 공통 열과 공통 인덱스만 연결하기

In [38]:
# 공통 열 연결
pd.concat([s1, s2])

# 공통 행 연결
pd.concat([s1, s2], axis=1)

    A   B   C   D   A   B   C   D
0  a0  b0  c0  d0  a4  b4  c4  d4
1  a1  b1  c1  d1  a5  b5  c5  d5
2  a2  b2  c2  d2  a6  b6  c6  d6
3  a3  b3  c3  d3  a7  b7  c7  d7

# merge 메서드 사용하기

In [22]:
person = pd.read_csv('./praticeData/survey_person.csv')
site = pd.read_csv('./praticeData/survey_site.csv')
survey = pd.read_csv('./praticeData/survey_survey.csv')
visited = pd.read_csv('./praticeData/survey_visited.csv')

visited_subset = visited.loc[[0, 2, 6]]

merge = site.merge(visited_subset, left_on='name', right_on='site')
merge

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14