In [ ]:
import pandas as pd
pew = pd.read_csv('./data/pew.csv')

In [ ]:
pew.head()

In [ ]:
pew.iloc[:, :5].head()

# 1개의 열만 고정하고 나머지 열을 행으로 바꾸기

In [ ]:
pew_long = pd.melt(pew, id_vars='religion')
pew_long

In [ ]:
pew_long = pd.melt(pew, id_vars='religion', var_name='income', value_name='count')
pew_long

# 2개 이상의 열을 고정하고 나머지 열을 행으로 바꾸기

In [ ]:
billboard = pd.read_csv('./data/billboard.csv')
billboard.iloc[:5, :10]

In [ ]:
pd.melt(billboard, id_vars=['year', 'artist', 'track', 'time', 'date.entered'], var_name='week', value_name='rating').head()

# ebola 데이터 집합 살펴보기

In [ ]:
ebola = pd.read_csv('./data/country_timeseries.csv')
ebola.iloc[:5, [0, 1, 2, 3, 10, 11]]

In [ ]:
ebola_long = pd.melt(ebola, id_vars=['Date', 'Day'])
ebola_long.head()

In [ ]:
ebola_long.groupby('variable')['value'].sum()

# 열 이름 나누고 데이터 프레임에 추가하기

In [ ]:
variable_split = ebola_long.variable.str.split('_')
variable_split[:5]

In [ ]:
status_values = variable_split.str.get(0)
country_values = variable_split.str.get(1)

In [ ]:
status_values[:5]

In [ ]:
country_values[:5]

In [ ]:
ebola_long['status'] = status_values
ebola_long['country'] = country_values
ebola_long.head()

# concat 메서드를 응용하여 데이터프레임에 열 추가하기

In [ ]:
ebola_long = pd.melt(ebola, id_vars=['Date', 'Day'])
ebola_long.head()

In [ ]:
variable_split = ebola_long.variable.str.split('_', expand=True)
variable_split.head(5)

In [ ]:
variable_split.columns = ['status', 'country']
variable_split.head()

In [ ]:
pd.concat([ebola_long, variable_split], axis=1)

# 기상 데이터의 여러 열을 하나로 정리하기

In [ ]:
weather = pd.read_csv('./data/weather.csv')
weather.iloc[:5, :8]

In [ ]:
weather_melt = pd.melt(weather, id_vars=['id', 'year', 'month', 'element'], var_name='day', value_name='temp')
weather_melt

In [ ]:
weather_tidy = weather_melt.pivot_table(
    index=['id', 'year', 'month', 'day'],
    columns='element',
    values='temp'
)
weather_tidy

In [ ]:
weather_tidy_flat = weather_tidy.reset_index()
weather_tidy_flat

# 빌보드 차트의 중복 데이터 처리하기

In [ ]:
billboard = pd.read_csv('./data/billboard.csv')
billboard.iloc[:5, :10]

In [ ]:
billboard_long = pd.melt(billboard, id_vars=['year', 'artist', 'track', 'time', 'date.entered'], var_name='week', value_name='rating')
billboard_long.head()

In [ ]:
billboard_long[billboard_long['track'] == 'Loser'].head()

In [ ]:
billboard_songs = billboard_long[['year', 'artist', 'track', 'time']]
billboard_songs

In [49]:
billboard_songs = billboard_songs.drop_duplicates()
billboard_songs.head()

   year        artist                    track  time
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22
1  2000       2Ge+her  The Hardest Part Of ...  3:15
2  2000  3 Doors Down               Kryptonite  3:53
3  2000  3 Doors Down                    Loser  4:24
4  2000      504 Boyz            Wobble Wobble  3:35

In [53]:
billboard_songs['id'] = range(len(billboard_songs))
billboard_songs.head(n=10)

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

In [55]:
billboard_ratings = billboard_long.merge(billboard_songs, on=['year', 'artist', 'track', 'time'])
billboard_ratings.head()

   year artist                    track  time date.entered week  rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0

# 뉴욕 택시 데이터 준비

# 반복문으로 데이터 준비하기